* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: large;
}

header,
nav,
section,
main {
    color: white;
}

header,
nav,
.img,
section,
main,
aside,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

html,
body {
    min-width: 150px;
    min-height: 150px;
    width: 100%;
    height: 100%;
}

header {
    background-color: #11162a;
    height: 20%;
    width: 40%;
    -ms-flex-order: 1;
}

nav {
    background-color: #ef3c51;
    height: 20%;
    width: 60%;
    -ms-flex-order: 2;
}

section {
    background-color: #4c86c6;
    height: 80%;
    width: 100%;
    -ms-flex-order: 3;
}

main {
    background-color: #24344b;
    height: 80%;
    width: 100%;
    vertical-align: middle;
}

.img {
    background-color: #c2e5e7;
    height: 50%;
    width: 30%;
    margin: 0 0 0 auto;
}

aside {
    background-color: #4bbd98;
    height: 50%;
    width: 30%;
    margin: 0 0 0 auto;
}

footer {
    position: absolute;
    background-color: #ffd066;
    height: 10%;
    width: 100%;
    vertical-align: bottom;
    align-self: flex-end;
}

.container {
    display: flex;
    height: 50%;
    flex-wrap: wrap;
}

.container__img {
    display: flex;
    height: 50%;
}

.inner_container__img {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
}

@media only screen and (min-width: 414px) and (max-width:768px) {
    .container {
        display: flex;
        height: 50%;
        flex-wrap: wrap;
    }

    header {
        background-color: #11162a;
        height: 20%;
        width: 100%;
        order: 1;
    }

    nav {
        background-color: #ef3c51;
        height: 140%;
        width: 30%;
        order: 3;
    }

    section {
        background-color: #4c86c6;
        height: 80%;
        width: 100%;
        order: 2;
    }

    .container__img {
        display: flex;
        flex-wrap: wrap;
        height: 70%;
        width: 70%;
        margin: 0 0 0 auto;
    }

    main {
        background-color: #24344b;
        height: 60%;
        width: 100%;
        vertical-align: middle;
    }

    footer {
        position: relative;
        background-color: #ffd066;
        height: 20%;
        width: 100%;
    }

    .inner_container__img {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 20%;
    }

    .img {
        background-color: #c2e5e7;
        height: 100%;
        width: 50%;
        order: 2;
    }

    aside {
        background-color: #4bbd98;
        height: 100%;
        width: 50%;
        order: 1;
    }
}

@media only screen and (max-width:414px) {
    * {
        background-color: red;
    }
}